/* Global styling */
* {
   /* box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box; */
   font-family: 'Montserrat', sans-serif;
}

/* ELEMENT Selector styling */
/* body, */
html {
   margin: 0;
}
body {
   position: static; /* CSS property default */
   border: 0;
}
main {
   background-color: lightgray;
   margin: auto;
   padding: 5px 15px;
}
h1,
h2,
h3,
h4,
h5 {
   margin: auto;
   padding: 10px 0;
}
h1 {
   font-size: 30px;
   text-align: center;
   height: 100%;
   width: 100%;
   padding: 20px 0 5px 0;
}
h2,
h3,
h4,
h5 {
   font-size: 20px;
}
h3 {
   padding-top: 15px; /* match to 'main' element selector */
}
section {
   position: relative;
   /* position: static; */
   background-color: white;
   padding: 10px;
}

/*****  BEGIN REVIEW DEMO *****/

p {
   font-style: italic;
}
.class-green {
   color: rgb(3, 214, 101);
}
#id-highlight {
   background-color: rgba(0, 255, 255, 0.649);
   /* padding: 5px; */
   /* border: blue solid 1px; */
}

/*****  BEGIN BOX MODEL DEMO *****/

#box-model-sec {
   /* padding: 0;
        margin: 0; */
   height: 75vh;
}

.basic-box {
   width: 100px;
   height: 100px;
}
#box-one {
   /* box-sizing: border-box; */
   background-color: rgba(72, 179, 255, 0.45);
   /* padding: 20px 25px 10px 40px;
   padding-top: 40px; */
   border: black solid 1px;
   /* margin: auto; */
   /* margin-bottom: 20px; */
}

#box-two {
   /* box-sizing: border-box; */
   background-color: rgba(144, 231, 86, 0.45);
   border: black solid 1px;
   /* margin: auto;
   margin-top: 40px; */
}

.box {
   /* width: auto;
   height: auto; */
   /* margin: 10px;
   padding: 15px; */
   /* border: whitesmoke solid 3px; */
}

#content-demo {
   background-color: rgba(72, 179, 255, 0.7);
   /* padding: 0; */
   /* margin: 0; */
   /* border-color:rgba(255, 0, 208, 0.615); */
   /* border: none; */
   /* visibility: hidden; */
}
.example-selector {
   /* box-sizing: content-box;*/ /* default */
   /* TODO: look up block element */
   box-sizing: border-box;
   width: 5px;
   min-width: 5px;
   max-width: 5px;
   height: 5px;
   min-height: 5px;
   max-height: 5px;
}

#padding-demo {
   background-color: rgba(144, 231, 86, 0.7);
   border: rgb(83, 128, 156) dashed 3px;
   /* padding: 0; */
   /* margin: 0; */
   /* border-color:rgba(255, 0, 208, 0.615); */
   /* border: none; */
   /* visibility: hidden; */
}
.example-selector {
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding: 5px 5px 5px 5px;
   padding: 5px;
}

#border-demo {
   background-color: rgba(241, 197, 94, 0.663);
   border: rgb(83, 128, 156) groove 7px;
   /* padding: 0;
        margin: 0;
        border-color:rgba(255, 0, 208, 0.615); */
   /* border: none; */
   /* visibility: hidden; */
}
.example-selector {
   /* padding-top: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
                padding: 5px 5px 5px 5px;
                padding: 5px; */
}

#margin-demo {
   background-color: rgba(205, 136, 79, 0.7);
   border: rgb(18, 28, 34) dotted 4px;
   /* padding: 0; */
   /* margin: 0; */
   /* border-color:rgba(255, 0, 208, 0.615); */
   /* border: none; */
}
.example-selector {
   /* padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding: 5px 5px 5px 5px;
    padding: 5px; */
}
#position-demo {
   color: white;
   border-color: white;
   padding: 0 0 5 0;
   margin: 0;
   font-size: 12px;
}
.example-selector {
   /* padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding: 5px 5px 5px 5px;
    padding: 5px; */
}

/* CSS Position Property */
.position-sec {
   position: static;
   z-index: 0;
}
/*****  POSITION DEMO *****/
#position1 {
   background-color: rgba(0, 255, 98, 0.582);
   /* position: static;  */
   /* CSS position property default */
   z-index: 2; /* z-index only works on a positioned box (exception: static) */
}
#position2 {
   background-color: rgba(255, 187, 0, 0.512);
   /* position: relative;  */
   /* makes itself relative to the previously positioned element/div other boxes */
}
#position3 {
   background-color: rgba(0, 149, 255, 0.615);
   /* position: fixed; */
   /* removes itself from relativity of other boxes & maintains it's place in the z-index */
   right: 20px;
   /* 30px from the right side of the screen/viewport */
   bottom: 40px;
   /* 25px from the bottom side of the screen/viewport */
   z-index: 1;
   /* display: none; */
}
#position4 {
   background-color: rgba(255, 94, 0, 0.615);
   /* position: relative;  */
   /* makes itself relative to the sibling element/div other boxes */
   left: 75px; /* 150px from the left side */
   bottom: -20px;
}
#position5 {
   background-color: rgba(255, 0, 208, 0.615);
   /* position: absolute;  */
   /* removes itself from relativity of other boxes & maintains the most frontal z-index position */
   right: 45px; /* 100px from the right side */
   bottom: 107px; /* 50px from the bottom of the last positioned parent element */
   white-space: nowrap;
}
/* #position6 {
        background-color: rgba(255, 242, 0, 0.582);
        position: sticky;
        top: 50%;
    } */
/*end*/

/* Notes */
#notes-sec {
   margin-top: 10px;
   z-index: 0;
}
